<div class="repayment-form-container">
  <h2>Make a Repayment</h2>
  <form [formGroup]="repaymentForm" (ngSubmit)="submitForm()">
    <!-- <div class="form-group">
      <label>Loan Application ID</label>
      <input type="number" formControlName="loanApplicationId" />
      <div class="error-message" *ngIf="(repaymentForm.get('loanApplicationId')?.touched || submitted) && repaymentForm.get('loanApplicationId')?.errors">
        {{ getErrorMessage('loanApplicationId') }}
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label>Repayment ID</label>
      <input type="number" formControlName="repaymentId" />
      <div class="error-message" *ngIf="(repaymentForm.get('repaymentId')?.touched || submitted) && repaymentForm.get('repaymentId')?.errors">
        {{ getErrorMessage('repaymentId') }}
      </div>
    </div> -->
    
    <div class="form-group">
      <label>Due Date</label>
      <input type="date" formControlName="dueDate" />
      <div class="error-message" *ngIf="(repaymentForm.get('dueDate')?.touched || submitted) && repaymentForm.get('dueDate')?.errors">
        {{ getErrorMessage('dueDate') }}
      </div>
    </div>
    <div class="form-group">
      <label>Due Amount</label>
      <input type="number" formControlName="totalAmount" />
      <div class="error-message" *ngIf="(repaymentForm.get('totalAmount')?.touched || submitted) && repaymentForm.get('dueAmount')?.errors">
        {{ getErrorMessage('totalAmount') }}
      </div>
    </div>
    <div class="form-group">
      <label>Amount</label>
      <input type="number" formControlName="amount" />
      <div class="error-message" *ngIf="(repaymentForm.get('amount')?.touched || submitted) && repaymentForm.get('amount')?.errors">
        {{ getErrorMessage('amount') }}
      </div>
    </div>
    
    <div class="form-group">
      <label>Payment Method</label>
      <select formControlName="paymentMethod">
        <option value="">Select Payment Method</option>
        <option *ngFor="let method of paymentMethods" [value]="method.value">{{ method.label }}</option> 
      </select>
      <div class="error-message" *ngIf="(repaymentForm.get('paymentMethod')?.touched || submitted) && repaymentForm.get('paymentMethod')?.errors">
        {{ getErrorMessage('paymentMethod') }}
      </div>
    </div>
   
    <button type="submit" [disabled]="isSubmitting || repaymentForm.invalid">
      {{ isSubmitting ? 'Submitting...' : 'Submit Repayment' }}
    </button>
    <div class="success-message" *ngIf="successMsg">{{ successMsg }}</div>
    <div class="error-message" *ngIf="errorMsg">{{ errorMsg }}</div>
  </form>
</div>
