<nz-layout  class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="/" target="_self">
        <a href="/"
          ><img
            src="https://i.ibb.co/LdJ97M63/Chat-GPT-Image-May-23-2025-12-50-05-PM.png"
            alt="Chat-GPT-Image-May-23-2025-12-50-05-PM"
            border="0"
        /></a>
        <h1>CREDWISE</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <!-- Dashboard Menu Item -->
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/" class="menu-item-content">
          <i class="fas fa-tachometer-alt menu-icon"></i>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>

      <!-- Loans Submenu -->
      <li nz-submenu>
        <span title class="menu-item-content">
          <i class="fas fa-money-bill-wave menu-icon"></i>
          <span class="menu-text">Loans</span>
          <span class="ant-menu-submenu-arrow"></span>
        </span>
        <ul>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/apply-form" class="menu-item-content">
              <i class="fas fa-info-circle menu-icon"></i>
              <span class="menu-text">Apply for Loan</span>
            </a>
          </li> -->
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/loan-status" class="menu-item-content">
              <i class="fas fa-info-circle menu-icon"></i>
              <span class="menu-text">Loan Status</span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Payments Submenu -->
      <li nz-submenu>
        <span title class="menu-item-content">
          <i class="fas fa-credit-card menu-icon"></i>
          <span class="menu-text">Payments</span>
          <span class="ant-menu-submenu-arrow"></span>
        </span>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/repayments" class="menu-item-content">
              <i class="fas fa-money-check-alt menu-icon"></i>
              <span class="menu-text">Repayments</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/payment-history" class="menu-item-content">
              <i class="fas fa-history menu-icon"></i>
              <span class="menu-text">Payment History</span>
            </a>
          </li>
        </ul>
      </li>

      <!-- Fixed Deposits Submenu -->
      <li nz-submenu>
        <span title class="menu-item-content">
          <i class="fas fa-piggy-bank menu-icon"></i>
          <span class="menu-text">Fixed Deposits</span>
          <span class="ant-menu-submenu-arrow"></span>
        </span>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/apply-fd" class="menu-item-content">
              <i class="fas fa-file-signature menu-icon"></i>
              <span class="menu-text">Apply for FD</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/fd-status" class="menu-item-content">
              <i class="fas fa-info-circle menu-icon"></i>
              <span class="menu-text">FD Status</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="fas"
            [class.fa-bars]="isCollapsed"
            [class.fa-times]="!isCollapsed"
          ></i>
        </span>
        <div class="header-right">
          <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" class="auth-link">
              <i class="fas fa-sign-in-alt"></i>
              Login
            </a>
            <a routerLink="/register" class="auth-link">
              <i class="fas fa-user-plus"></i>
              Sign Up
            </a>
          </ng-container>
          <ng-container *ngIf="isLoggedIn">
            <span class="welcome-text">
              <i class="fas fa-user-circle"></i>
              {{(currentUser?.firstName || 'User').charAt(0).toUpperCase() + (currentUser?.firstName || 'User').slice(1)}}
            </span>
            <a class="auth-link" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
          </ng-container>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-footer></app-footer>
  </nz-layout>
</nz-layout>

<!-- <app-footer></app-footer> -->
