<div class="form-container">
  <nz-card nzTitle="Create Account" [nzBordered]="false" class="form-card">
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'First name is required'">
              <input
                nz-input
                formControlName="firstName"
                placeholder="First Name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="'Last name is required'">
              <input
                nz-input
                formControlName="lastName"
                placeholder="Last Name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <input
            nz-input
            formControlName="email"
            placeholder="Email"
            type="email"
          />
          <ng-template #emailErrorTpl let-control>
            @if (control.errors?.['required']) { Email is required } @if
            (control.errors?.['email']) { Invalid email format }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="'10-digit phone number required'">
          <input
            nz-input
            formControlName="phoneNumber"
            placeholder="Phone Number"
            type="tel"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              nz-input
              formControlName="password"
              placeholder="Password"
              [type]="hidePassword ? 'password' : 'text'"
            />
          </nz-input-group>

          <ng-template #suffixTemplate>
            <i
              [class]="hidePassword ? 'far fa-eye-slash' : 'far fa-eye'"
              class="password-icon"
              (click)="hidePassword = !hidePassword"
              style="padding-right: 10px;"
            ></i>
          </ng-template>

          <ng-template #passwordErrorTpl let-control>
            @if (control.errors?.['required']) { Password is required } @if
            (control.errors?.['pattern']) { At least 1 uppercase, 1 number, 1
            special character } @if (control.errors?.['minlength']) { Minimum 8
            characters }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button
        nz-button
        nzType="primary"
        nzBlock
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>

    <div class="auth-footer">
      Already have an account? <a routerLink="/login">Login</a>
    </div>
  </nz-card>
</div>